/* Catppuccin Mocha Theme */
@import url("/home/vaish/.config/swaync/colors.css");

@define-color base-alpha rgba(30, 30, 46, 0.85);
.notification-row {
  transition: all 200ms ease;
  outline: none;
  margin-bottom: 4px;
  margin-right: 13px;
  margin-top: 8px;
  border-radius: 80px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
	opacity: 1;
	background: transparent;
}

.notification-row:focus .notification,
.notification-row:hover .notification {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);
  border: 0px solid @color4;
  background: @color8;
}

.control-center .notification {
  box-shadow: none;
}

.control-center .notification-row {
	opacity: 0.5;
	margin: -5px;
}

.notification {
  transition: all 200ms ease;
  border-radius: 8px;
  margin: 12px 7px 0px 7px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);
  padding: 0;
}

.notification-content {
  background: transparent;
  padding: 6px;
  border-radius: 8px;
}

.close-button {
  background: @color8;
  color: @foreground;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 17px;
  margin-right: 10px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: @color7;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: @color8;
  border: 2px solid @color4;
  color: @foreground;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: @color8;
}

.notification-default-action {
  border-radius: 8px;
}

.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

.notification-action:first-child {
  border-bottom-left-radius: 8px;
}

.notification-action:last-child {
  border-bottom-right-radius: 8px;
  border-right: 1px solid @color4;
}

.body-image {
  margin-top: 6px;
  background-color: @foreground;
  border-radius: 8px;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @foreground;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @foreground;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: @foreground;
  text-shadow: none;
}

.top-action-title {
  color: @foreground;
  text-shadow: none;
}

.control-center-clear-all {
  color: @foreground;
  text-shadow: none;
  background: @background;
  border: 2px solid @color4;
  box-shadow: none;
  border-radius: 8px;
}

.control-center-clear-all:hover {
  background: @color8;
}

.control-center-dnd {
  border-radius: 8px;
  background: @background;
  border: 1px solid @color4;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @color4;
}

.control-center-dnd slider {
  background: @background;
  border-radius: 8px;
}

.control-center {
  background: @base-alpha;
  border-radius: 10px;
  background-clip: border-box;
  padding: 4px;
  box-shadow: @color4;
  color: @foreground;
  border: 2px solid @color4;
}

.control-center-list {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

.blank-window {
  background: transparent;
}

/*** Widgets ***/
.widget-title {
  margin: 8px;
  font-size: 1.5rem;
}
.widget-title > button {
  font-size: initial;
  color: @foreground;
  text-shadow: none;
  background: @background;
  border: 2px solid @color4;
  box-shadow: none;
  border-radius: 8px;
}
.widget-title > button:hover {
  background: @color8;
}

.widget-dnd {
  margin: 8px;
  font-size: 1.1rem;
}
.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: @background;
  border: 1px solid @color4;
  box-shadow: none;
}
.widget-dnd > switch:checked {
  background: @color4;
}
.widget-dnd > switch slider {
  background: @background;
  border-radius: 8px;
  border: 1px solid @foreground;
}

.widget-label {
  margin: 8px;
}
.widget-label > label {
  font-size: 1.1rem;
}

.widget-mpris-player {
  padding: 8px;
  margin: 8px;
  background-color: @background;
  border-radius: 8px;
  border: 2px solid @color4;
  color: @foreground;
}
.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}
.widget-mpris-subtitle {
  font-size: 1.1rem;
}

