@define-color background #0D0704;
@define-color foreground #dcbe96;
@define-color cursor #dcbe96;
@define-color color0 #0D0704;
@define-color color1 #485A3B;
@define-color color2 #8F3811;
@define-color color3 #904C12;
@define-color color4 #A65A1F;
@define-color color5 #D26821;
@define-color color6 #AA6E4A;
@define-color color7 #dcbe96;
@define-color color8 #9a8569;
@define-color color9 #485A3B;
@define-color color10 #8F3811;
@define-color color11 #904C12;
@define-color color12 #A65A1F;
@define-color color13 #D26821;
@define-color color14 #AA6E4A;
@define-color color15 #dcbe96;
