@import "colors.css"; 
/* Rest of your existing CSS */
window#waybar {
  background: transparent;
  background-color: @background;
  color: @foreground;
  transition-property: background-color;
  transition-duration: 0.1s;
  border-bottom: 1px solid @color0;
}

#window {
  margin: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  color: @color15;
  border-top: 2px solid @color15;
}

#workspaces button {
  padding: 0 4px;
}

#workspaces button.focused {
  background-color: rgba(0, 0, 0, 0.3);
  color: @color5;
  border-top: 2px solid @color5;
}

#workspaces button.active {
  background-color: rgba(0, 0, 0, 0.3);
  color: @color6;
  border-top: 2px solid @color6;
}

#workspaces button.urgent {
  background-color: @color1;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#clock {
  color: @color2;
  border-bottom: 2px solid @color2;
}

#clock.date {
  color: @color6;
  border-bottom: 2px solid @color6;
}

#pulseaudio {
  color: @color4;
  border-bottom: 2px solid @color4;
}

#network {
  color: @color9;
  border-bottom: 2px solid @color9;
}

#idle_inhibitor {
  margin-right: 12px;
  color: @color2;
}

#idle_inhibitor.activated {
  color: @color1;
}

#battery {
  color: @color3;
  border-bottom: 2px solid @color3;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#custom-vpn {
  color: @color10;
  border-radius: 15px;
  padding-left: 6px;
  padding-right: 6px;
}

